/*--------------------------------------------------------------------- 
File Name: responsive.css 
---------------------------------------------------------------------*/

@media (max-width: 1050px){

    .logo a{
       font-size: 18px;
    }

    .site-navbar ul{
        margin-left: 145px;
        margin-right: 65px;
        padding-left: 14px;
        padding-right: 12px;
        
    }

    .site-navbar ul li a{
        font-size: 14px;
    }
    
    .site-navbar ul li {
        padding-right: 25px;
    }

    #banner1 .carousel-control-prev {
        width: 50px;
        height: 50px;
    }

    #banner1 .carousel-control-next{
        width: 50px;
        height: 50px;
    }

    .fa{
        font-size: 30px;
        font-weight: bold;
    }

    #myCarousel .carousel-control-prev{
        left: 0;
        font-size: 2rem;
    }

    #myCarousel .carousel-control-next {
        right: 0;
        font-size: 2rem;

    }

    ul.recent li {
        font-size: 13px;
    }

    .titlepage h2 {
        font-size: 39px;
        line-height: 39px;
    }

    ul.top_infomation li{
        font-size: 12px;
    }

    ul.menu_footer li a{
        font-size: 12px;
    }
}

@media (max-width: 768px){

    
    .logo a{
        font-size: 15px;
    }

    ul.email li #menu-icon{
        font-size: 10px;
    }

    ul.email li i{
        font-size: 10px;
    }

    .site-navbar ul li a {
        font-size: 10px;
    }

    ul.email li{
        padding-right: 2px;
    }

    .container-fluid{
        display: flex;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }

    .email .text_align_right{
        margin-right: 0;
        padding-right: 0;
    }

    .about{
        padding-top: 50px;
    }

    .about .titlepage{
        float: left;
    }

    .titlepage h2{
        font-size: 30px;
    }

    .about .titlepage p{
        font-size: 15px;
        padding-top: 10px;
        line-height: 18px;
    }

    .services{
        padding-top: 50px; 
    }

    .services_box h3{
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 10px;
    }

    p{
        font-size: 12px;
        line-height: 14px;
    }

    .choose{
        padding: 50px 0 35px 0;
    }

    .point h3{
        height: 150px;
        max-width: 150px;
        font-size: 25px;
    }

    .news {
        padding-top: 50px;
    }

    .clint{
        padding-top: 5px;
    }

    .customers{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .custom p{
        line-height: 15px;
        padding: 15px 0;
    }

    .flot_right{
        float: left;
    }

    .copyright p{
        font-size: 15px;
    }
}

@media (max-width: 360px){
    ul.email li #menu-icon {
        display: inline;
        color: black;
    }

    .container-fluid{
        display: grid;
        padding-left: 0;
    }

    .header-area{
        line-height: 40px;
    }

    .logo{
        width: 50%;
    }
    /* navbar css for mobile start */
    .navbar-area {
        margin-top: -67px;
    }

    .site-navbar ul {
        position: absolute;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
        z-index: 99999;
     
    }

    .site-navbar ul.open {
        max-height: 100vh;
        padding-bottom: 25px;
        overflow: visible;
        color: #6b7908;
    }

    .titlepage h2{
        font-size: 25px;
        text-align: center;
    }

    .about .titlepage p {
        text-align: center;
        margin-bottom: 2px;
    }

    .about_img figure img{
        width: 50%;
    }

    .services {
        padding-top: 40px;
    }

    .services .titlepage {
        padding-bottom: 0;
    }

    .services_box{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .services_box h3{
        text-align: center;
    }

    p{
        text-align: center;
    }

    .veget{
        padding: 25px;
    }

    .titlepage{
        padding-bottom: 30px;
    }

    .point span {
        padding-top: 18px;
    }

    .news{
        padding-top: 40px;
    }

    .news .titlepage {
        padding-bottom: 0;
    }

    .latest{
        margin-top: 20px;
    }

    .customers{
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .customers .titlepage{
        padding-bottom: 0;
    }

    .custom{
        padding: 10px;
    }
   
    .clint{
        font-size: 10px;
    }

    .hedingh3 h3{
        font-size: 15px;
        padding-bottom: 10px;
    }

    .footer{
        margin-top: 20px;
    }

    ul.top_infomation li{
        padding-bottom: 0;
    }

    .copyright p{
        font-size: 11px;
    }

    .copyright{
        padding-bottom: 10px;
    }


}

